@inherits Box.CMS.Web.ContentRenderView
@using Box.CMS.Web;
@using Box.CMS;
@{
    Page.Title = HEAD.Name;
    
    // uncomment to track of Facebook comments and likes
    BoxLib.LogPageShare();

}

@section head {
    @RenderPage("~/parts/meta-head-content.cshtml", HEAD)
}

@section breadcrumbs {
    <li><a href="@Href("~/news")">News</a></li>
}

@if (CONTENT.Images != null && CONTENT.Images.Count >= 1) {    
    <img class="img-responsive" src="@BoxLib.GetFileUrl(HEAD.ThumbFilePath, maxHeight:300, width: 840)" alt="@HEAD.Name">    
}
<h2>@HEAD.Abstract</h2>
@HEAD.CreateDate.ToLocalTime()<br />

@Facebook.LikeButton(CONTENT_URL, buttonLayout: "button_count")

@Html.Raw(CONTENT.HTMLContent)

<div>
    @BoxSite.ContentsRelated(headerText: "<h2>releated content</h2>", itemTemplate: @<div>@BoxSite.ContentLink(item)</div>)
</div>


@section rightColumn {
<h2>cross links</h2>
<ul>
    @BoxSite.CrossLinksFrom("News", kinds: new string[] { "NEWS" }, itemTemplate:
    @<li>        
        <a href="@BoxLib.GetContentLink(item)">@item.Name</a><br />
        @item.Abstract
    </li>)
</ul>
}