@inherits Box.CMS.Web.ContentRenderView
@using Box.CMS.Web;
@using Box.CMS;
@{
    Page.Title = HEAD.Name;

    // uncomment to track of Facebook comments and likes
    BoxLib.LogPageShare();

}

@section head {
    @RenderPage("~/parts/meta-head-content.cshtml", HEAD)
}

@section scripts {
    <script src="~/Scripts/Box.Gallery.js"></script>
    @Site.Gallery("Images", CONTENT.Images)
}

@section breadcrumbs {
    <li><a href="@Href("~/news")">News</a></li>
}

@if (CONTENT.Images != null && CONTENT.Images.Count >= 1)
{
    <img class="img-responsive" src="@BoxLib.GetFileUrl(CONTENT.Images[0], maxHeight: 300, width: 840)" alt="@HEAD.Name">
}
<h2>@HEAD.Abstract</h2>
@HEAD.CreateDate.ToLocalTime()<br />

@Facebook.LikeButton(CONTENT_URL, buttonLayout: "button_count")

@Html.Raw(CONTENT.HTMLContent)

<div class="col-md-6">
    <h2>podcasts</h2>
    @if (CONTENT.Audios != null && CONTENT.Audios.Count >= 1)
    {
        foreach (var audio in CONTENT.Audios)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@audio.FileName</h3>
                </div>
                <div class="panel-body">
                    <audio controls>
                        <source src="@BoxLib.GetFileUrl(audio)" />
                    </audio>
                </div>
            </div>
        }
    }
</div>
<div>
    @BoxSite.ContentsRelated(headerText: "<h2>releated content</h2>", itemTemplate: @<div>@BoxSite.ContentLink(item)</div>)
</div>

@section lightBoxContent {
<div style="position:fixed; top:5%; width:100%;  text-align:center; z-index:2">
    <img class="img-responsive" style="display:inline; opacity: 1; max-width:70%;" />
</div>
}

@section rightColumn {
    <h2>cross links</h2>
    <ul>
        @BoxSite.CrossLinksFrom("News", kinds: new string[] { "NEWS" }, itemTemplate:
    @<li>
        <a href="@BoxLib.GetContentLink(item)">@item.Name</a><br />
        @item.Abstract
    </li>)
    </ul>
}