@using Box.CMS
@using Box.CMS.Web
@using Box.Core.Web
@model ContentPageModel 

@Html.Partial("CMS/ContentTopMenu")
    
<form  id="editForm">    
    <div class="grid fluid">
        <div class="row">

            <fieldset class="boxLeftMargin" style="margin-right: 10px">


                <div data-bind="visible: editingItem().Name!=''">
                    <label>@Box.CMS.SharedStrings.Title</label>
                    @MetroUI.TextBox(placeholder: @Box.CMS.SharedStrings.Title, classes: "required", others: "updatemodelevent=\"keyup\" " + Capture.MapToName().ToString())                    

                </div>

                <label>@Box.CMS.SharedStrings.File</label>
                @Capture.File("Files", folder: "DOC_ROOT", singleFile: true, style: "width: 100%")

            </fieldset>

        </div>
        

    </div>
    

    

</form>


@this.ScriptBlock(
@<script type="text/javascript">


    UploadArea.afterSendCallBack = function (id, fileName) {
        var idx = fileName.lastIndexOf(".");
        if (idx > 0) {
            fileName = fileName.substring(0, idx);
        }
        pageVM.editingItem().Name = fileName;        
    }


    // PAGE DETAIL SCRIPT BLOCK ----------------------
     function NEW_CONTENT(contentHead) {                  
         contentHead.CONTENT.Files = new Array();
         contentHead.Name = '';
         return contentHead;
     }

     function BEFORE_POST(contentHead) {              
     }

     function SET_THUMB(contentHead) {
         if (contentHead.CONTENT.Files != null && contentHead.CONTENT.Files.length >= 1)
             contentHead.ThumbFilePath = contentHead.CONTENT.Files[0].Folder + '/' + contentHead.CONTENT.Files[0].FileUId;
         else
             contentHead.ThumbFilePath = null;
     }

  


       
</script>)
