@using Box.CMS
@using Box.CMS.Web
@using Box.Core.Web
@model ContentPageModel 

@Html.Partial("CMS/ContentTopMenu")
    
<form id="editForm">  
    <div class="grid fluid" >  
        <div class="row">
            
                <fieldset class="span8">
                <div class="boxLeftMargin">

                    <label>@Box.CMS.SharedStrings.Link</label>
                    @MetroUI.TextBox(placeholder: @Box.CMS.SharedStrings.Link_tooltip, classes: "required url", onblur: "updateName()", others: Capture.MapToExternalLinkUrl().ToString())
                
                    <label>@Box.CMS.SharedStrings.Title</label>                       
                    @MetroUI.TextBox(placeholder: @Box.CMS.SharedStrings.Title, others: Capture.MapToName().ToString())
                                        
                    <label>@Box.CMS.SharedStrings.Abstract</label>                                       
                    @MetroUI.TextArea(others: Capture.MapToAbstract().ToString())

                    

                </div>
                        
            </fieldset>
        
        
            <fieldset class="span4">        

            <div class="boxLeftMargin">
                <label>@Box.CMS.SharedStrings.Image</label>
                @Capture.File("Image", singleFile: true)            
            </div>
                
    
            </fieldset>

       

</div>
    </div>
</form>


@this.ScriptBlock(
@<script type="text/javascript">

    // PAGE DETAIL SCRIPT BLOCK ----------------------
    function NEW_CONTENT(contentHead) {
        contentHead.Name = '';
         contentHead.CONTENT.HTMLContent = '';
         contentHead.CONTENT.Images = new Array();
         return contentHead;
     }

     function SET_THUMB(contentHead) {
         if (contentHead.CONTENT.Image != null)
             contentHead.ThumbFilePath = contentHead.CONTENT.Image.Folder + '/' + contentHead.CONTENT.Image.FileUId;
         else
             contentHead.ThumbFilePath = null;
     }

   
     function updateName() {
         
         if (!pageVM.editingItem().ExternalLinkUrl)
             return;

         if (pageVM.editingItem().Name != '')
             return;

         var name = pageVM.editingItem().ExternalLinkUrl;
         name = name.replace('www.', '');
         name = name.replace('http://', '');
         name = name.replace('https://', '');
         name = name.replace('/', '-');
         var idx = name.indexOf('.');
         if (idx > 1) {
             name = name.substring(0, idx);
         }
         pageVM.editingItem().Name = name;
         pageVM.editingItem.valueHasMutated();
     }

    function setAbstract(contentHead) {

        if (contentHead.Abstract != null && contentHead.Abstract != '')
            return;

        if (contentHead.ContentUId)
            return;

        var html = contentHead.CONTENT.HTMLContent;
        var div = document.createElement("div");
        div.innerHTML = html;
        var text = div.innerText;

        if (text == null)
            text = div.textContent; // maybe it is FireFox

        if (text == null)
            text = '';

        if (text.indexOf('.') > 0)
            text = text.substring(0, text.indexOf('.') + 1);
        if (text.length > 300)
            text = text.substring(0, 300);
        contentHead.Abstract = text;
    }


       
</script>)
