@using Box.CMS
@using Box.CMS.Web
@using Box.Core.Web
@model ContentPageModel

@Html.Partial("CMS/ContentTopMenu")

<style type="text/css">
    .Results {
        width: 659px;
        float: right !important;
    }

    .boxLeftMargin {
        margin-right: 10px !important;
    }

    .SimpleQuiz input[type='text'] {
        width: 653px !important;
        height: 29px;
        margin: 1px 0px 15px 9px;
    }
</style>

<form id="editForm" style="width: 100%;">
    <div class="grid fluid">
        <div class="row">
            <div class="boxLeftMargin">
                <div class="span12">
                    <fieldset>

                        <label>@Box.CMS.SharedStrings.Title</label>
                        @MetroUI.TextBox(placeholder: @Box.CMS.SharedStrings.Title, classes: "required", others: Capture.MapToName().ToString())


                        <label>@Box.CMS.SharedStrings.Quiz_Question</label>
                        <div class="input-control textarea" data-role="input-control">
                            <textarea @Capture.MapTo("Question")></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="boxLeftMargin">
                <div class="span6">
                    <fieldset class="SimpleQuiz">

                        <legend>@Box.CMS.SharedStrings.Quiz_Alternatives</legend>

                        <label>@Box.CMS.SharedStrings.Quiz_Alternative 1</label>
                        <input type="text" @Capture.MapTo("Answer1") updatemodelevent="keyup" class="required" maxlength="100" required />

                        <label>@Box.CMS.SharedStrings.Quiz_Alternative 2</label>
                        <input type="text" @Capture.MapTo("Answer2") updatemodelevent="keyup" class="required" maxlength="100" required />

                        <label>@Box.CMS.SharedStrings.Quiz_Alternative 3</label>
                        <input type="text" @Capture.MapTo("Answer3") updatemodelevent="keyup" class="required" maxlength="100" required />

                        <label>@Box.CMS.SharedStrings.Quiz_Alternative 4</label>
                        <input type="text" @Capture.MapTo("Answer4") updatemodelevent="keyup" class="required" maxlength="100" required />

                        <label>@Box.CMS.SharedStrings.Quiz_Alternative 5</label>
                        <input type="text" @Capture.MapTo("Answer5") updatemodelevent="keyup" class="required" maxlength="100" required />

                    </fieldset>
                    <input type="button" value="@Box.CMS.SharedStrings.Quiz_Clear_Votes" data-bind="click: function() { totalVotesToZero(editingItem());  }" />
                </div>
                <div class="span6">
                    <div class="answer-chart">
                        <div class="row">
                            <div class="span6">
                                <div id="canvas-chart">
                                    <canvas id="chart-area" width="300" height="300" />
                                </div>
                            </div>
                            <div class="span6">
                                <ul class="answer-list">
                                    <li><i style="color: #F7464A;" class="fa fa-square"></i> <strong data-bind="text: editingItem().CONTENT.Answer1"></strong> - <span data-bind="text: pageVM.editingItem().CONTENT.Percent1 > 0 ? pageVM.editingItem().CONTENT.Percent1.toFixed(2) + '%' : 'Sem votos.'"></span></li>
                                    <li><i style="color: #46BFBD;" class="fa fa-square"></i> <strong data-bind="text: editingItem().CONTENT.Answer2"></strong> - <span data-bind="text: pageVM.editingItem().CONTENT.Percent2 > 0 ? pageVM.editingItem().CONTENT.Percent2.toFixed(2) + '%' : 'Sem votos.'"></span></li>
                                    <li><i style="color: #FDB45C;" class="fa fa-square"></i> <strong data-bind="text: editingItem().CONTENT.Answer3"></strong> - <span data-bind="text: pageVM.editingItem().CONTENT.Percent3> 0 ? pageVM.editingItem().CONTENT.Percent3.toFixed(2) + '%' : 'Sem votos.'"></span></li>
                                    <li><i style="color: #949FB1;" class="fa fa-square"></i> <strong data-bind="text: editingItem().CONTENT.Answer4"></strong> - <span data-bind="text: pageVM.editingItem().CONTENT.Percent4 > 0 ? pageVM.editingItem().CONTENT.Percent4.toFixed(2) + '%' : 'Sem votos.'"></span></li>
                                    <li><i style="color: #4D5360;" class="fa fa-square"></i> <strong data-bind="text: editingItem().CONTENT.Answer5"></strong> - <span data-bind="text: pageVM.editingItem().CONTENT.Percent5 > 0 ? pageVM.editingItem().CONTENT.Percent5.toFixed(2) + '%' : 'Sem votos.'"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@this.ScriptBlock(
    @<script type="text/javascript">

        function NEW_CONTENT(contentHead) {
            contentHead.CONTENT.HTMLContent = '';
            totalVotesToZero(contentHead);
            return contentHead;
        }

        function AFTER_GET() {
            $(function () {
                var pieData = [
                   {
                       value: pageVM.editingItem().CONTENT.Percent1.toFixed(2),
                       color: "#F7464A",
                       highlight: "#FF5A5E",
                       label: pageVM.editingItem().CONTENT.Answer1
                   },
                   {
                       value: pageVM.editingItem().CONTENT.Percent2.toFixed(2),
                       color: "#46BFBD",
                       highlight: "#5AD3D1",
                       label: pageVM.editingItem().CONTENT.Answer2
                   },
                   {
                       value: pageVM.editingItem().CONTENT.Percent3.toFixed(2),
                       color: "#FDB45C",
                       highlight: "#FFC870",
                       label: pageVM.editingItem().CONTENT.Answer3
                   },
                   {
                       value: pageVM.editingItem().CONTENT.Percent4.toFixed(2),
                       color: "#949FB1",
                       highlight: "#A8B3C5",
                       label: pageVM.editingItem().CONTENT.Answer4
                   },
                   {
                       value: pageVM.editingItem().CONTENT.Percent5.toFixed(2),
                       color: "#4D5360",
                       highlight: "#616774",
                       label: pageVM.editingItem().CONTENT.Answer5
                   }
                ];

                var ctx = document.getElementById("chart-area").getContext("2d");
                window.myPie = new Chart(ctx).Pie(pieData);

            });
        }

        function totalVotesToZero(contentHead) {
            //Reset total votes
            contentHead.CONTENT.TotalVotes1 = 0;
            contentHead.CONTENT.TotalVotes2 = 0;
            contentHead.CONTENT.TotalVotes3 = 0;
            contentHead.CONTENT.TotalVotes4 = 0;
            contentHead.CONTENT.TotalVotes5 = 0;

            //Reset percent from total votes
            contentHead.CONTENT.Percent1 = 0;
            contentHead.CONTENT.Percent2 = 0;
            contentHead.CONTENT.Percent3 = 0;
            contentHead.CONTENT.Percent4 = 0;
            contentHead.CONTENT.Percent5 = 0;

            pageVM.editingItem.valueHasMutated();
        }
    </script>)
