@functions {

    public static IHtmlString MapToName() {
        return new HtmlString("data-bind=\"value: editingItem().Name\"");
    }

    public static IHtmlString MapToAbstract() {
        return new HtmlString("data-bind=\"value: editingItem().Abstract\"");
    }

    public static IHtmlString MapToCustomInfoText(int n) {
        return new HtmlString("data-bind=\"value: editingItem().CustomInfo.Text" + n + "\"");
    }

    public static IHtmlString MapToCustomInfoNumber(int n) {
        return new HtmlString("data-bind=\"value: editingItem().CustomInfo.Number" + n + "\"");
    }
    
    public static IHtmlString MapToCustomInfoDate(int n) {
        return new HtmlString("data-bind=\"value: editingItem().CustomInfo.Date" + n + "\"");
    }
    
    public static IHtmlString MapTo(string field, string converter = "value") {
        return new HtmlString("data-bind=\"" + converter + ": editingItem().CONTENT." + field + "\"");
    }

    public static IHtmlString MapToExternalLinkUrl() {
        return new HtmlString("data-bind=\"value: editingItem().ExternalLinkUrl\"");
    }


}

@helper TimeSelector(string field) {
    <div class="timeSelector" >
        <select data-bind="timeHour: editingItem().@field"  >
            <option value="0">00</option>
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>            
        </select>
        <span>:</span>
        <select data-bind="timeMinutes: editingItem().@field" >
            <option value="0">00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>            
        </select>

    </div>
  
}

@helper File(string id, string folder = "Images", bool singleFile = false, string style = null) {    
    string dropAreaId = "_uploadArea_" + id;
    string inputFileId = "_uploadAreaInput_" + id;
    string multipleTag = singleFile == false ? "multiple" : "";

    HtmlString dataBindList = new HtmlString("");
    HtmlString dataBindMove = new HtmlString(""); ;
    HtmlString dataBindItem = new HtmlString("editingItem().CONTENT." + id);
    HtmlString dataBindBrowse = new HtmlString("data-bind=\"click: function(data) { window.open(FileUrl.toView(editingItem().CONTENT." + id + "), '_blank'); }, clickBubble: false\"");
    
    

    if (!singleFile) {
        dataBindList = new HtmlString("data-bind=\"foreach: editingItem().CONTENT." + id + "\"");
        dataBindMove = new HtmlString("data-bind=\"click: function(data, event) { UploadArea.stopMoveFile(data, '" + id + "', event.target.parentNode.parentNode); }, clickBubble: false\"");
        dataBindItem = new HtmlString("$data");
        dataBindBrowse = new HtmlString("data-bind=\"click: function(data) { window.open(FileUrl.toView(data), '_blank'); }, clickBubble: false\"");
    }
    
    <input 
        class="ajaxUploadField"
        id="@inputFileId" 
        type="file" 
        onchange="UploadArea.sendFiles(this.files, '@id', '@folder', @singleFile.ToString().ToLowerInvariant() )" 
        @multipleTag 
        tabindex="-1" />                                    
       
    <a class="formUploadField"
        href="javascript: UploadArea.showUploadForm('@folder')">@Box.CMS.SharedStrings.File_upload</a>
    
    <div 
        class="uploadDropArea" 
        style="@style"
        ondrop="UploadArea.drop(this, event, '@id', '@folder', @singleFile.ToString().ToLowerInvariant())"
        ondragover="UploadArea.dragover(this, event)"
        ondragleave="UploadArea.dragout(this, event)">

        <div style="margin-bottom: 4px;">
            <span>
                @Box.CMS.SharedStrings.drag_and_drop_files_here
            </span>
            <a tabindex="-1"
               href="javascript: showFileDatabase(function(file) { UploadArea.addFile(file, '@id', @singleFile.ToString().ToLowerInvariant()); }, '@folder')">@Box.CMS.SharedStrings.or_use_image_database</a>
        </div>

        <ul id="@dropAreaId"
            onmousemove="UploadArea.movingMouse(this, event, '@id')">

            <!--ko if: pageVM.editingItem().CONTENT.@(id) != null -->
                <!--ko foreach: pageVM.editingItem().CONTENT.@(id) -->
                    <li @dataBindMove
                    onmouseover="if (UploadArea.movingFile == null) showContextMenu(this);"
                    onmouseout="hideContextMenu(this)">

                    <!--ko if: FileUrl.isImage(@(dataBindItem).Type) -->
                    <div class="imageFile">
                        <img data-bind="attr: { src: FileUrl.toView(@dataBindItem, true) }"/>
                    </div>
                    <!--/ko-->

                    <!--ko if: FileUrl.isAudio(@(dataBindItem).Type) -->
                    <audio controls>
                        <source data-bind="attr: { src: FileUrl.toView(@dataBindItem, false) }">
                    </audio>
                    <!--/ko-->
                    <!--ko if: FileUrl.isVideo(@(dataBindItem).Type) -->
                    <video controls="controls">
                        <source data-bind="attr: { src: FileUrl.toView(@dataBindItem, false) }">
                    </video>
                    <!--/ko-->

                    <input data-bind="value: @(dataBindItem).Caption"
                           updatemodelevent="keyup"
                           onkeypress="dialogHelper.blurOnEnter(this)"
                           tabindex="-1"
                           type="text"/>

                    <div class="contextMenu">
                        <button title="@Box.CMS.SharedStrings.Remove" data-bind="click: function(data) { UploadArea.removeFile(data, '@id', @singleFile.ToString().ToLowerInvariant()); }, clickBubble: false">
                            <i class="icon-minus-2"></i>
                        </button>

                        <button title="@Box.CMS.SharedStrings.Preview" @dataBindBrowse>
                            <i class="icon-eye"></i>
                        </button>
                        @if (!singleFile)
                        {
                            <button data-bind="click: function(data, event) { UploadArea.startMoveFile(data, '@id', event.target.parentNode.parentNode); }, clickBubble: false">
                                <i class="icon-move-horizontal"></i>
                            </button>
                        }
                    </div>
                </li>
                <!--/ko-->
            <!--/ko-->
            <!--ko foreach: pageVM.editingItem().CONTENT.@(id)_WAITING -->
                <li class="loading-li">
                    <div class="imageFile" style="width: 120px; height: 120px; background-image: url(@Href("~/Content/CMS_Images/FileIcons/loading.gif")); background-position: center; background-repeat: no-repeat;"></div>
                </li>
            <!--/ko-->
        </ul>
        
        <div id="_uploadAreaAlert_@id" class="loadingFileAlert">
            <img src="../Content/CMS_Images/FileIcons/loading.gif" />@Box.CMS.SharedStrings.Sending_files
        </div>
        
        <div style="clear: both;"></div>

    </div>
}
}

@helper CropImage(string id, int originalWidth, int originalHeight, double scale = 1, string folder = "Images", string style = null) {
    string dropAreaId = "_uploadArea_" + id;
    string inputFileId = "_uploadAreaInput_" + id;
    HtmlString dataBindItem = new HtmlString("editingItem().CONTENT." + id);
    HtmlString dataBindBrowse = new HtmlString("data-bind=\"click: function(data) { window.open(FileUrl.toView(editingItem().CONTENT." + id + "), '_blank'); }, clickBubble: false\"");

    int width = (int)(originalWidth * scale);
    int height = (int)(originalHeight * scale);

    string scaleStr = scale.ToString(System.Globalization.CultureInfo.InvariantCulture);


        <input class="ajaxUploadField"
               id="@inputFileId"
               type="file"
               onchange="UploadArea.sendFiles(this.files, '@id', '@folder', true)"
               tabindex="-1" />

        <a class="formUploadField"
           href="javascript: UploadArea.showUploadForm('@folder')">@Box.CMS.SharedStrings.File_upload</a>

        
        <div class="uploadDropArea"
                style="@style width: @(width+15)px; min-height: @(height)px;"
                ondrop="UploadArea.drop(this, event, '@id', '@folder', true)"
                ondragover="UploadArea.dragover(this, event)"
                ondragleave="UploadArea.dragout(this, event)">

            <div style="margin-bottom: 4px;">
                <span>
                    @Box.CMS.SharedStrings.drag_and_drop_files_here
                </span>
                <a tabindex="-1"
                    href="javascript: showFileDatabase(function(file) { UploadArea.addFile(file, '@id', true); }, '@folder')">@Box.CMS.SharedStrings.or_use_image_database</a>
            </div>

            <div id="@(dropAreaId)_cropControls" style="display: none; margin: 0px; width: @(width)px;" class="bg-grayDark">
                <div>
                    <label style="padding: 4px;" class="fg-white">@Box.CMS.SharedStrings.Crop_tooltip</label>
                </div>
                <button title="@Box.CMS.SharedStrings.Apply"
                        class="bg-grayDark" onclick="javascript: UploadArea.commitCropImage('@id', @originalWidth, @originalHeight); return false;">
                    <i class="icon-checkmark fg-white"></i>
                </button>
                <button title="@Box.CMS.SharedStrings.Cancel"
                        class="bg-grayDark" onclick="javascript: UploadArea.cancelCropImage('@id'); return false;">
                    <i class="icon-cancel fg-white"></i>
                </button>                    
            </div>

            <ul id="@dropAreaId" style="margin-top:0px;">

                <!--ko if: pageVM.editingItem().CONTENT.@(id) != null -->
                <li style="width: @(width)px; height: @(height)px;"
                    onmouseover="showContextMenu(this);"
                    onmouseout="hideContextMenu(this)">

                    <div style="width: @(width)px; height: @(height)px; overflow: hidden;">
                        <img id="@(dropAreaId)_cropImage"
                                data-bind="attr: { fileUIdTag: @(dataBindItem).FileUId, scaleTag: @(scaleStr), src: FileUrl.toView(@dataBindItem, false, @scaleStr) }"
                                style="max-width: none;" />
                    </div>

                    <input data-bind="value: @(dataBindItem).Caption"
                            updatemodelevent="keyup"
                            onkeypress="dialogHelper.blurOnEnter(this)"
                            tabindex="-1"
                            type="text" />

                    <div id="@(dropAreaId)_cropZoom" class="zoomControls">
                        <button class="bg-grayDark" onclick="javascript: UploadArea.zoomCropImage('@id', 'In'); return false;">
                            <i class="icon-zoom-in fg-white"></i>
                        </button>
                        <button class="bg-grayDark" onclick="javascript: UploadArea.zoomCropImage('@id', 'Out'); return false;">
                            <i class="icon-zoom-out fg-white"></i>
                        </button>
                    </div>

                    <div class="contextMenu">
                        <button title="@Box.CMS.SharedStrings.Remove" data-bind="click: function(data) { UploadArea.removeFile(data, '@id', true); }, clickBubble: false">
                            <i class="icon-minus-2"></i>
                        </button>

                        <button title="@Box.CMS.SharedStrings.Preview" @dataBindBrowse>
                            <i class="icon-eye"></i>
                        </button>

                        <button title="@Box.CMS.SharedStrings.Crop_image" data-bind="click: function(data) { UploadArea.cropImage(data, '@id', @width, @height); }, clickBubble: false">
                            <i class="icon-resize"></i>
                        </button>

                    </div>
                </li>
                <!--/ko-->

            </ul>

            <div id="_uploadAreaAlert_@id" class="loadingFileAlert">
                <img src="../Content/CMS_Images/FileIcons/loading.gif" />@Box.CMS.SharedStrings.Sending_files
            </div>

        </div>

        <div style="clear: both;"></div>

}

