@using Box.CMS.Web;
@{
    var PAGE_SIZE = 3;
    Page.Title = "News";
    Layout = "~/_PageLayout1C.cshtml";
    BoxLib.SetListPageSize("list", PAGE_SIZE);
    var captcha = new Box.CMS.Services.CaptchaService();
    var antiToken = captcha.AntiForgeryToken();
}

@section head{
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>
}

@BoxSite.ContentsAtUrl(navigationId: "list", itemTemplate: NewsItemTemplate)

@* TRADITIONAL PAGING USING POSTS *@
@*<ul class="pager">
    <li>@BoxSite.PageFirstButton("list")</li>
    <li>@BoxSite.PagePreviousButton("list")</li>
    <li>@BoxSite.PageNextButton("list")</li>
</ul>*@

@* MODERN PAGING USING AJAX REQUESTS *@
<div id="listAsync">
    <div data-bind="foreach: contents">
        @NewsItemTemplateAsync()
    </div>    
    @BoxSite.PageMoreContentButton(listId:"list")
</div>


@* USE THIS FOR AJAX PAGING *@
@helper NewsItemTemplateAsync()
{
<div class="row" style="margin-bottom: 10px;">
    <a data-bind="attr: { href: Location + CanonicalName }">
        <div class="col-md-2">
            <img data-bind="attr: { src: 'files/' + ThumbFilePath, alt: Name }" style="width:150px; height:150px;" @Site.OnErrorImg()>
        </div>
        <div class="col-md-10">
            <h4 data-bind="text: Name"></h4>
            <p data-bind="text: Abstract"></p>
        </div>
    </a>
</div>
}

@* USE THIS FOR TRADITIONAL (POST) PAGING *@
@helper NewsItemTemplate(Box.CMS.ContentHead item)
{
<div class="row" style="margin-bottom: 10px;">
    <a href="@BoxLib.GetContentLink(item)">
        <div class="col-md-2">
            <img src="@BoxLib.GetFileUrl(filePath: item.ThumbFilePath, asThumb: true)" alt="@item.Name" style="width:150px; height:150px;" @Site.OnErrorImg()>
        </div>
        <div class="col-md-10">
            <h4>@item.Name</h4>
            <p>@item.Abstract</p>
        </div>
    </a>
</div>
}

@* USE THIS FOR AJAX PAGING *@
@section scripts {
    <script type="text/javascript" src="@Href("~/Scripts/Box.ContentAsyncVM.js")"></script>
    <script>
        $().ready(function () {
            Box.webAppUrl = '@Href("~")';
            Box.antiForgeryToken = '@antiToken';
            new Box.ContentAsyncVM('listAsync', @PAGE_SIZE, @PAGE_SIZE, 'NEWS', '', '', '', '', '', '', 'true');
        });
    </script>
}
