@model Box.Core.Web.PageNavigationModel
@{
    string vmodel = Model.ViewModel == null ? "pageVM" : Model.ViewModel;
    string list = Model.ListName == null ? "items()" : Model.ListName + "()";


}



<div data-bind="visible: (@(list).length==0 && firstLoaded)" style="padding-left: 10px; display: none">
    @Resources.SharedStrings.No_items_were_found
</div>

<nav class="listNavigation" data-bind="visible: pageVM.paging.totalPages() > 1">
    <label style="font-size:14px;" data-bind="text: 'Página ' + pageVM.paging.currentPage() + ' de ' + pageVM.paging.totalPages(), visible: pageVM.paging.totalPages() > 1"></label>
</nav>

<nav class="listNavigation">
    <button onclick="@(vmodel).loadFirstData()" data-bind="visible: @(vmodel).hasPreviousPage() && pageVM.paging.totalPages() > 0" style="display: none"><i class="icon-first-2 on-left"></i>@Resources.SharedStrings.FirstPage</button>

    <button onclick="@(vmodel).loadPreviousData()" data-bind="visible: @(vmodel).hasPreviousPage()" style="display: none"><i class="icon-arrow-left-4 on-left"></i>@Resources.SharedStrings.Previous</button>
    <button onclick="@(vmodel).loadNextData()" data-bind="visible: @(vmodel).hasNextPage()" style="display: none">@Resources.SharedStrings.Next_navigation<i class="icon-arrow-right-4 on-right"></i></button>

    <button onclick="@(vmodel).loadLastData()" data-bind="visible: @(vmodel).hasNextPage() && pageVM.paging.totalPages() > 0" style="display: none">@Resources.SharedStrings.LastPage<i class="icon-last-2 on-right"></i></button>
</nav>