@{
    ViewBag.Title = Resources.SharedStrings.Reset_password;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="google" value="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="metro">

    <div class="navigation-bar">
        <div class="navigation-bar-content">
            <div class="element">@Resources.SharedStrings.Reset_password</div>
        </div>
    </div>

    <div class="toolbar transparent boxToolBar">

        <div class="grid fluid">
            <div class="row">

                <div class="span12">
                    <button onclick="if (!$('#editForm').valid()) return; pageVM.post(pageVM.data().Email)">
                        <i class="icon-checkmark on-left fg-green"></i>
                        @Resources.SharedStrings.Send
                    </button>

                     <button onclick="window.history.back()" >
                        <i class="icon-arrow-left-3 on-left"></i>@Resources.SharedStrings.Back
                    </button>

                </div>

            </div>
        </div>   
    </div>

    <div class="grid mainGrid contentMargin" style="margin-top: 10px;">
        <div class="row no-margin">
            <div class="span12">  
                <form id="editForm">
                    <div class="row">
                        <span>@Resources.SharedStrings.Reset_password_tooltip</span>
                    </div>
            
                     <label style="margin-top: 10px">@Resources.SharedStrings.Your_email</label>
                     @MetroUI.TextBox(databind: "value: data().Email", maxLength: 50, classes: "required email")   
        
                </form>
            </div>
        </div>
    </div>

    <div class="grid mainGrid contentMargin" style="display: none;" data-bind="visible: result()=='RESETED'">
        <div class="row">
            @Resources.SharedStrings.An_email_was_send_to_you_with_your_new_password
        </div>
    </div>
    <div class="grid mainGrid contentMargin" style="display: none;" data-bind="visible: result()=='NOT_FOUND'">
        <div class="row">
            @Resources.SharedStrings.Could_not_find_your_user_account
        </div>
    </div>
    @Html.Partial("PageDefaults")
    @Scripts.Render("~/bundles/box")
    @Scripts.Render("~/Scripts/Core/Validator." + System.Threading.Thread.CurrentThread.CurrentCulture.Name + ".js")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Core/FormVM.js")"></script>
    <script type="text/javascript">
        window._webAppUrl = '@Url.Content("~/")';
        $.validator.setValidator('editForm');
        pageVM.result = new ko.observable('');
        pageVM.url = _webAppUrl + 'api/core_signin/resetpassword/';
        pageVM.onSuccess = function (data) {
            if (data)
                pageVM.result('RESETED');
            else
                pageVM.result('NOT_FOUND');
        }
    </script>
</body>
</html>
