<html>
<body>
    <h1>@Resources.SharedStrings.Reset_password</h1>
    
    <p>
        @Resources.SharedStrings.Your_new_password_is: <b>@Model.NewPassword</b>
    </p>
    <p>
        @Resources.SharedStrings.Reset_password_tooltip2
    </p>
    
    <p>
        @Resources.SharedStrings.Please_go_to:<br/>
        <a href="@Model.SiteRoot/applyNewPassword/@Model.ChangeKey ">@Model.SiteRoot/applyNewPassword/@Model.ChangeKey</a>            
    </p>
    
    
    <p>@Model.SystemName</p>
    
</body>
</html>
