@model Box.Composition.Web.IPageModel
@{
    ViewBag.Title = Resources.SharedStrings.Change_password;    
}
<div class="toolbar transparent boxToolBar">

         <div class="grid fluid">
            <div class="row">

                <div class="span12">
                    <button data-bind="visible: passwordChanged()==false" onclick="if (!$('#editForm').valid()) return; pageVM.post()">
                        <i class="icon-checkmark on-left fg-green"></i>
                        @Resources.SharedStrings.Apply
                    </button>

                    <button onclick="window.history.back()">
                        <i class="icon-arrow-left-3 on-left"></i>
                        @Resources.SharedStrings.Back     
                    </button>
                </div>

            </div>
        </div> 

</div>

<form id="editForm">
    <div class="grid mainGrid" data-bind="visible: passwordChanged()==false">
        <div class="row no-margin">
            <fieldset class="span12">  
                <label>@Resources.SharedStrings.New_password</label>
                @MetroUI.Password(id: "password", databind: "value: data().newPassword", maxLength:10, classes:"required")   


                <label>@Resources.SharedStrings.Password_check</label>
                @MetroUI.Password(id: "password_again", databind: "value: data().newPassword", maxLength: 10, classes: "required", others:"equalTo=#password")
            </fieldset>
        </div>
    </div>

    <div data-bind="visible: passwordChanged()==true" style="display:none; margin-left: 10px; margin-top: 20px; float: left;">
        @Resources.SharedStrings.Password_was_changed<br />        
    </div>
</form>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Core/FormVM.js")"></script>
    <script type="text/javascript">
        pageVM.url = _webAppUrl + 'api/core_users/password/me';
        pageVM.failedMessage = '@Resources.SharedStrings.Your_validate_password_msg';
        pageVM.dataField = 'newPassword';
        pageVM.passwordChanged = new ko.observable(false);
        pageVM.onSuccess = function (data) {
            pageVM.passwordChanged(true);
        };
        $.validator.setValidator('editForm');       
    </script>
}
